In [ ]:
#this data reading
from pandas import read_csv, get_dummies,DataFrame,Series
#
dataset=read_csv('/content/drive/MyDrive/Colab Notebooks/Emloyees.csv')
#dataset
#dataset.head(2)
#print(dataset.describe())
print(dataset.info())
print(dataset.shape)
# dataset['PastEmployee'].unique()
# dataset['OverTime'].unique()
# dataset['Gender'].unique()
#dataset['Age']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   PastEmployee             1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   EducationField           1470 non-null   object
 6   EnvironmentSatisfaction  1470 non-null   int64
 7   Gender                   1470 non-null   object
 8   JobRole                  1470 non-null   object
 9   MaritalStatus            1470 non-null   object
 10  MonthlyIncome            1470 non-null   int64
 11  NumCompaniesWorked       1470 non-null   int64
 12  OverTime                 1470 non-null   object
dtypes: int64(5), object(8)
memory usage: 149.4+ KB
None
(1470, 13)

In [ ]:
#dataset['PastEmployee']=dataset['PastEmployee'].map({'Yes':1,'No':0})

In [ ]:
dataset['PastEmployee']

0       0
1       1
2       0
3       0
4       0
       ..
1465    0
1466    1
1467    0
1468    0
1469    0
Name: PastEmployee, Length: 1470, dtype: int64

In [ ]:
dataset['PastEmployee'] = dataset['PastEmployee'].map({'Yes':1, 'No':0})
dataset['OverTime'] = dataset['OverTime'].map({'Yes':1, 'No':0})
dataset['Gender'] = dataset['Gender'].map({'Female':1, 'Male':0})

In [ ]:
dataset

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,Gender,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime
0,46,0,Travel_Rarely,Human Resources,5,Medical,2,0,Human Resources,Divorced,5021,8,1
1,37,1,Travel_Rarely,Human Resources,6,Human Resources,3,0,Human Resources,Divorced,2073,4,1
2,59,0,Non-Travel,Human Resources,2,Human Resources,3,1,Manager,Married,18844,9,0
3,54,0,Non-Travel,Human Resources,26,Human Resources,4,1,Manager,Single,17328,2,1
4,26,0,Travel_Rarely,Human Resources,25,Life Sciences,3,1,Human Resources,Married,2942,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,45,0,Travel_Rarely,Sales,20,Life Sciences,4,1,Sales Executive,Single,4850,8,0
1466,50,1,Travel_Rarely,Sales,28,Marketing,4,0,Sales Executive,Divorced,10854,4,1
1467,39,0,Travel_Rarely,Sales,24,Marketing,2,1,Sales Executive,Married,12031,0,0
1468,26,0,Travel_Rarely,Sales,5,Other,4,1,Sales Representative,Single,2966,0,0
1469,49,0,Travel_Frequently,Sales,2,Medical,4,0,Sales Executive,Married,5390,2,0

In [ ]:
print(dataset.info())
#dataset.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   PastEmployee             1470 non-null   int64
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   EducationField           1470 non-null   object
 6   EnvironmentSatisfaction  1470 non-null   int64
 7   Gender                   1470 non-null   int64
 8   JobRole                  1470 non-null   object
 9   MaritalStatus            1470 non-null   object
 10  MonthlyIncome            1470 non-null   int64
 11  NumCompaniesWorked       1470 non-null   int64
 12  OverTime                 1470 non-null   int64
dtypes: int64(8), object(5)
memory usage: 149.4+ KB
None

In [ ]:
#dataset

In [ ]:
#categorical_features = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']

data2=get_dummies(dataset, columns = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus'])# encoding using one hot encoding method

data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   PastEmployee                       1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   EnvironmentSatisfaction            1470 non-null   int64
 4   Gender                             1470 non-null   int64
 5   MonthlyIncome                      1470 non-null   int64
 6   NumCompaniesWorked                 1470 non-null   int64
 7   OverTime                           1470 non-null   int64
 8   BusinessTravel_Non-Travel          1470 non-null   uint8
 9   BusinessTravel_Travel_Frequently   1470 non-null   uint8
 10  BusinessTravel_Travel_Rarely       1470 non-null   uint8
 11  Department_Human Resources         1470 non-null   uint8
 12  Department_Research & Development  1470 non-null   uint8
 13  Department_Sales                   1470 non-null   uint8
 14  EducationField_Human Resources     1470 non-null   uint8
 15  EducationField_Life Sciences       1470 non-null   uint8
 16  EducationField_Marketing           1470 non-null   uint8
 17  EducationField_Medical             1470 non-null   uint8
 18  EducationField_Other               1470 non-null   uint8
 19  EducationField_Technical Degree    1470 non-null   uint8
 20  JobRole_Healthcare Representative  1470 non-null   uint8
 21  JobRole_Human Resources            1470 non-null   uint8
 22  JobRole_Laboratory Technician      1470 non-null   uint8
 23  JobRole_Manager                    1470 non-null   uint8
 24  JobRole_Manufacturing Director     1470 non-null   uint8
 25  JobRole_Research Director          1470 non-null   uint8
 26  JobRole_Research Scientist         1470 non-null   uint8
 27  JobRole_Sales Executive            1470 non-null   uint8
 28  JobRole_Sales Representative       1470 non-null   uint8
 29  MaritalStatus_Divorced             1470 non-null   uint8
 30  MaritalStatus_Married              1470 non-null   uint8
 31  MaritalStatus_Single               1470 non-null   uint8
dtypes: int64(8), uint8(24)
memory usage: 126.5 KB

In [ ]:
data2.to_csv('new_employees.csv')

In [ ]:
X = data2.drop('PastEmployee', axis=1) # Features
Y = data2['PastEmployee'] # Labels
# print(type(X))
# print(type(Y))
print(X.shape)
print(Y.shape)
X
Y
#Y.value_counts()

(1470, 31)
(1470,)

0       0
1       1
2       0
3       0
4       0
       ..
1465    0
1466    1
1467    0
1468    0
1469    0
Name: PastEmployee, Length: 1470, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(X)
#print (X_scaled)

print (DataFrame(X_scaled))

            0         1         2         3         4         5         6   \
0     0.993860 -0.517332 -0.660531 -0.816497 -0.314879  2.125136  1.591746
1     0.008343 -0.393938  0.254625 -0.816497 -0.941266  0.523316  1.591746
2     2.417384 -0.887515  0.254625  1.224745  2.622214  2.525591 -0.628241
3     1.869874  2.073946  1.169781  1.224745  2.300096 -0.277594  1.591746
4    -1.196177  1.950552  0.254625  1.224745 -0.756622 -0.678049 -0.628241
...        ...       ...       ...       ...       ...       ...       ...
1465  0.884358  1.333581  1.169781  1.224745 -0.351213  2.125136 -0.628241
1466  1.431867  2.320735  1.169781 -0.816497  0.924509  0.523316  1.591746
1467  0.227347  1.827158 -0.660531  1.224745  1.174597 -1.078504 -0.628241
1468 -1.196177 -0.517332  1.169781  1.224745 -0.751522 -1.078504 -0.628241
1469  1.322365 -0.887515  1.169781 -0.816497 -0.236474 -0.277594 -0.628241

            7         8         9   ...        21        22        23  \
0    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
2     2.966479 -0.481859 -1.562889  ... -0.462464  3.662208 -0.330808
3     2.966479 -0.481859 -1.562889  ... -0.462464  3.662208 -0.330808
4    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
...        ...       ...       ...  ...       ...       ...       ...
1465 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1466 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1467 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1468 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1469 -0.337100  2.075297 -1.562889  ... -0.462464 -0.273059 -0.330808

            24        25        26        27        28        29        30
0    -0.239904 -0.497873 -0.533821 -0.244625  1.869602 -0.918921 -0.685565
1    -0.239904 -0.497873 -0.533821 -0.244625  1.869602 -0.918921 -0.685565
2    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873  1.088232 -0.685565
3    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873 -0.918921  1.458650
4    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873  1.088232 -0.685565
...        ...       ...       ...       ...       ...       ...       ...
1465 -0.239904 -0.497873  1.873287 -0.244625 -0.534873 -0.918921  1.458650
1466 -0.239904 -0.497873  1.873287 -0.244625  1.869602 -0.918921 -0.685565
1467 -0.239904 -0.497873  1.873287 -0.244625 -0.534873  1.088232 -0.685565
1468 -0.239904 -0.497873 -0.533821  4.087890 -0.534873 -0.918921  1.458650
1469 -0.239904 -0.497873  1.873287 -0.244625 -0.534873  1.088232 -0.685565

[1470 rows x 31 columns]

In [ ]:
#help(read_csv)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X_scaled, Y, test_size = 0.20, random_state = 100)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(1176, 31)
(294, 31)
(1176,)
(294,)

In [ ]:
from imblearn.over_sampling import SMOTE
print("Number of observations in each class before oversampling (training data): \n", Series(Y_train).value_counts())
# smote = SMOTE(random_state = 101)
# X_train,Y_train = smote.fit_resample(X_train,Y_train)
X_train,Y_train = SMOTE(random_state = 101).fit_resample(X_train,Y_train)
print("Number of observations in each class after oversampling (training data): \n", Series(Y_train).value_counts())

Number of observations in each class before oversampling (training data):
 0    987
1    189
Name: PastEmployee, dtype: int64
Number of observations in each class after oversampling (training data):
 0    987
1    987
Name: PastEmployee, dtype: int64

In [ ]:
####### Data Preparation #######################
# reading the dataset
from pandas import read_csv, get_dummies,DataFrame,Series
dataset=read_csv('/content/drive/MyDrive/Colab Notebooks/Emloyees.csv')
# dataset
# dataset.info()
##################################################################################
# Data encoding
dataset['PastEmployee'] = dataset['PastEmployee'].map({'Yes':1, 'No':0})
dataset['OverTime'] = dataset['OverTime'].map({'Yes':1, 'No':0})

dataset['Gender'] = dataset['Gender'].map({'Female':1, 'Male':0})
# print(dataset.info())
# dataset.head(2)
#####
categorical_features = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']
final_data = get_dummies(dataset, columns = categorical_features, drop_first=True)
# print(final_data.info())
# print(final_data.head(2))
##################################################################################
#Determine the input feature and output label
X = final_data.drop('PastEmployee', axis = 1) # Features
Y = final_data['PastEmployee'] # Labels
# # print(type(X))
# # print(type(Y))
# print(X.shape)
# print(Y.shape)
################################################################################### Data Scaling (data normalization)
from sklearn.preprocessing import StandardScaler
feature_scaler = StandardScaler()
X_scaled = feature_scaler.fit_transform(X)
#print (X_scaled)
# print (DataFrame(X_scaled).head())
################################################################################### Data splitting
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X_scaled, Y, test_size = 0.3, random_state = 100)
# print(X_train.shape)
# print(X_test.shape)
################################################################################### Data balancing
from imblearn.over_sampling import SMOTE
print("Number of observations in each class before oversampling (training data): \n", Series(Y_train).value_counts())
smote = SMOTE(random_state = 101)
X_train,Y_train = smote.fit_resample(X_train,Y_train)
print("Number of observations in each class after oversampling (training data): \n", Series(Y_train).value_counts())

DataFrame(X_train)

Number of observations in each class before oversampling (training data):
 0    859
1    170
Name: PastEmployee, dtype: int64
Number of observations in each class after oversampling (training data):
 0    859
1    859
Name: PastEmployee, dtype: int64

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.446350,0.593216,-1.575686,-0.816497,-0.860949,0.523316,-0.628241,-0.481859,0.639841,0.727775,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,2.008543,-0.533821,-0.244625,-0.918921,-0.685565
1,-1.196177,-1.010909,0.254625,-0.816497,-0.772558,-1.078504,-0.628241,-0.481859,0.639841,0.727775,...,-0.191498,2.162331,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,-0.918921,1.458650
2,0.008343,-0.887515,1.169781,-0.816497,0.658486,0.523316,1.591746,-0.481859,0.639841,-1.374051,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,1.873287,-0.244625,1.088232,-0.685565
3,-0.320163,1.333581,0.254625,1.224745,-0.832477,-1.078504,-0.628241,-0.481859,0.639841,0.727775,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,2.008543,-0.533821,-0.244625,1.088232,-0.685565
4,-1.196177,-0.393938,0.254625,1.224745,-0.816753,-0.678049,1.591746,-0.481859,0.639841,0.727775,...,-0.191498,2.162331,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,1.088232,-0.685565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,-0.839904,-0.672018,0.254625,1.224745,-0.792541,1.305065,-0.628241,1.628712,-1.178202,-1.374051,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,4.087890,-0.918921,1.458650
1714,1.211342,0.030416,0.850913,-0.816497,-0.877565,1.706544,0.145269,-0.481859,0.639841,0.727775,...,-0.191498,2.162331,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,1.088232,-0.685565
1715,0.616030,-0.326125,0.705723,1.224745,-0.045095,0.726379,0.466034,-0.481859,0.639841,-1.374051,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,1.873287,-0.244625,1.088232,-0.685565
1716,-0.848206,-0.023755,-0.660531,0.861884,-0.858711,-0.678049,-0.628241,-0.481859,0.639841,-1.374051,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,4.087890,-0.918921,1.458650
1717,-1.042729,-1.010909,-1.575686,-0.641922,-0.776990,0.054364,-0.438380,2.075297,-1.562889,-1.374051,...,-0.191498,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,4.087890,0.916573,-0.502184